wc-tabs-content {
  height: 100%;

  .wc-tab-content {
    display: none;
    height: 100%;
  }

  .wc-tab-content-selected {
    display: block;
  }

  .wc-tab-content-responsive {
    height: 100%;
    width: 100%;
  }
}
