:host {
  height: 100%;
  width: 100%;
  .wc-tabs-headers-wrapper {
    display: flex;

    .wc-tabs-header {
      border-bottom: 1px solid var(--wc-tab-header-border-color, #dee2e6);
      display: flex;

    }
  }

  .wc-tabs-content {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;
  }
}
