wc-tabs {
  height: 100%;
  width: 100%;

  .wc-tabs-header {
    display: flex;
    border-bottom: 1px solid var(--wc-tab-header-border-color, #dee2e6);
  }

  .wc-tabs-content {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;
  }
}
